<section>
  <div class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Seeker List</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Create Seeker</h3>
          <div class="tile-body">
            <form class="row">
              <div class="form-group col-md-4">
                <label class="control-label">Seeker ID</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Birthday</label>
                <input class="form-control" type="date" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Phone Number</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Academic Level</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Skill</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Url_cv</label>
                <input class="form-control" type="date" required />
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Website Seeker</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-12">
                <label class="control-label">Seeker Image</label>
                <div id="myfileupload">
                  <input
                    type="file"
                    id="uploadfile"
                    name="ImageUpload"
                    onchange="readURL(this);"
                  />
                </div>
                <div id="thumbbox">
                  <img
                    height="300"
                    width="300"
                    alt="Thumb image"
                    id="thumbimage"
                    style="display: none"
                  />
                  <a class="removeimg" href="javascript:"></a>
                </div>
                <div id="boxchoice">
                  <a href="javascript:" class="Choicefile"
                    ><i class="bx bx-upload"></i
                  ></a>
                  <p style="clear: both"></p>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-save" type="button">Save</button>
                <button class="btn btn-cancel" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
