<section>
  <div class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Job List</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Create Job</h3>
          <div class="tile-body">
            <form class="row">
              <div class="form-group col-md-4">
                <label class="control-label">Job ID</label>
                <input class="form-control" type="text" required/>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Title</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Description</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Requirement</label>
                <input class="form-control" type="text" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Minimum Salary</label>
                <input class="form-control" type="number" required/>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Maximun Salary</label>
                <input class="form-control" type="number" required />
              </div>           
            </form>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-save" type="button">Save</button>
                <button class="btn btn-cancel"  type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
