<section>
  <div class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Edit Employer</h3>
          <div class="tile-body">
            <form class="row">
              <div class="form-group col-md-4">
                <label class="control-label">Employer ID</label>
                <input class="form-control" type="text" value="1" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Name</label>
                <input class="form-control" type="text" value="CGV" required />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">About</label>
                <input
                  class="form-control"
                  type="text"
                  value="Mobile phone is one of the great inventions of l people."
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Address</label>
                <input
                  class="form-control"
                  type="text"
                  value="Da Lat"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Phone Number</label>
                <input
                  class="form-control"
                  type="text"
                  value="0329574428"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Employer Website</label>
                <input
                  class="form-control"
                  type="text"
                  value="http//"
                  required
                />
              </div>
              <div class="form-group col-md-12">
                <label class="control-label">Employer Image</label>
                <div id="myfileupload">
                  <input
                    type="file"
                    id="uploadfile"
                    name="ImageUpload"
                    onchange="readURL(this);"
                  />
                </div>
                <div id="thumbbox">
                  <img
                    height="300"
                    width="300"
                    alt="Thumb image"
                    id="thumbimage"
                    style="display: none"
                  />
                  <a class="removeimg" href="javascript:"></a>
                </div>
                <div id="boxchoice">
                  <a href="javascript:" class="Choicefile"
                    ><i class="bx bx-upload"></i
                  ></a>
                  <p style="clear: both"></p>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-save" type="button">Update</button>
                <a href="#!employer"
                  ><button class="btn btn-cancel" type="button">
                    Cancel
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
