<section>
  <main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
              <a href="#"><b>Dashboard</b></a>
            </li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Left-->
      <div class="col-md-12 col-lg-6">
        <div class="row">
          <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small primary coloured-icon">
              <i class="icon bx bxs-user-account fa-3x"></i>
              <div class="info">
                <h4>Total Employer</h4>
                <p><b>100</b></p>
                <p class="info-tong">Total number of employers managed.</p>
              </div>
            </div>
          </div>
          <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small info coloured-icon">
              <i class="icon bx bxs-data fa-3x"></i>
              <div class="info">
                <h4>Total Post</h4>
                <p><b>500</b></p>
                <p class="info-tong">Total number of job postings.</p>
              </div>
            </div>
          </div>
          <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small warning coloured-icon">
              <i class="icon bx bxs-shopping-bags fa-3x"></i>
              <div class="info">
                <h4>Total Seeker</h4>
                <p><b>250</b></p>
                <p class="info-tong">Total number of job seekers managed.</p>
              </div>
            </div>
          </div>
          <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small danger coloured-icon">
              <i class="icon bx bxs-error-alt fa-3x"></i>
              <div class="info">
                <h4>Censorship</h4>
                <p><b>10</b></p>
                <p class="info-tong">
                  Number of job postings awaiting approval.
                </p>
              </div>
            </div>
          </div>
          <!-- col-12 -->
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title">Latest recruitment post</h3>
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Employer Name</th>
                      <th>About</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AL3947</td>
                      <td>CGV</td>
                      <td>
                        Mobile phone is one of the great inventions of l people.
                        Everyone owns at least one phone these days.
                      </td>
                      <td><span class="badge bg-info">Waiting</span></td>
                    </tr>
                    <tr>
                      <td>ER3835</td>
                      <td>BigC</td>
                      <td>
                        Mobile phone is one of the great inventions of l people.
                        Everyone owns at least one phone these days.
                      </td>
                      <td><span class="badge bg-success">Approved</span></td>
                    </tr>
                    <tr>
                      <td>MD0837</td>
                      <td>E-Mart</td>
                      <td>
                        Mobile phone is one of the great inventions of l people.
                        Everyone owns at least one phone these days.
                      </td>
                      <td><span class="badge bg-success">Approved</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- / div trống-->
            </div>
          </div>
          <!-- / col-12 -->
          <!-- col-12 -->
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title">Latest account</h3>
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Birthday</th>
                      <th>Phone Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#183</td>
                      <td>John</td>
                      <td>21/7/1992</td>
                      <td><span class="tag tag-success">0921387221</span></td>
                    </tr>
                    <tr>
                      <td>#183</td>
                      <td>John</td>
                      <td>21/7/1992</td>
                      <td><span class="tag tag-success">0921387221</span></td>
                    </tr>
                    <tr>
                      <td>#183</td>
                      <td>John</td>
                      <td>21/7/1992</td>
                      <td><span class="tag tag-success">0921387221</span></td>
                    </tr>
                    <tr>
                      <td>#183</td>
                      <td>John</td>
                      <td>21/7/1992</td>
                      <td><span class="tag tag-success">0921387221</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- / col-12 -->
        </div>
      </div>
      <!--END left-->
      <!--Right-->
      <div class="col-md-12 col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title">August data</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <canvas
                  class="embed-responsive-item"
                  id="lineChartDemo"
                ></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title">Industry statistics</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <canvas
                  class="embed-responsive-item"
                  id="barChartDemo"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END right-->
    </div>
  </main>
</section>
