<section>
  <aside class="col-xl-2 col-lg-2 col-md-2 app-sidebar">
    <div class="app-sidebar__user">
      <img class="app-sidebar__user-avatar" src="assets/img/logo/logo2_footer.png" alt="Logo Image" />
      <div>
        <p class="app-sidebar__user-name"><b>Admin</b></p>
      </div>
    </div>
    <hr />
    <ul class="app-menu">
      <li>
        <a class="app-menu__item" href="admin.html"><span class="app-menu__label">Dashboard</span></a>
      </li>
      <li>
        <a class="app-menu__item" href="#!account"><span class="app-menu__label">Account Management</span></a>
      </li>
      <li>
        <a class="app-menu__item" href="#!job"><span class="app-menu__label">Job Management</span></a>
      </li>
      <li>
        <a class="app-menu__item" href="#!post"><span class="app-menu__label">Post Management</span></a>
      </li>
      <li>
        <a class="app-menu__item" href="login_admin.html"><span class="app-menu__label">Exit</span></a>
      </li>
    </ul>
  </aside>
</section>