<section>
  <aside class="app-sidebar">
    <div class="app-sidebar__user">
      <img
        class="app-sidebar__user-avatar"
        src=""
        width="50px"
        alt="User Image"
      />
      <div>
        <p class="app-sidebar__user-name"><b>Admin</b></p>
      </div>
    </div>
    <hr />
    <ul class="app-menu">
      <li>
        <a class="app-menu__item" href="index_admin.html"
          ><span class="app-menu__label">Dashboard</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="#!account"
          ><span class="app-menu__label">Account Management</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="#!employer"
          ><span class="app-menu__label">Employer Management</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="#!seeker"
          ><span class="app-menu__label">Seeker Management</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="#!job"
          ><span class="app-menu__label">Job Management</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="#!post"
          ><span class="app-menu__label">Post Management</span></a
        >
      </li>
    </ul>
  </aside>
</section>
