<section>
    <table class="information_profile">
        <tr class="profile_output profile_edit">
            <td>Full name:</td>
            <td><input type="text" value="Nguyễn Chí Nhiên"></td>
        </tr>
        <tr class="profile_output ">
            <td>Address:</td>
            <td><input type="text" value="27c/2 Thi Sách, Phường 6, Đà Lạt, Lâm Đồng, Việt Nam"></td>
        </tr>
        <tr class="profile_output ">
            <td>Birthday:</td>
            <td><input type="date" value="2003-04-09"></td>
        </tr>
        <tr class="profile_output">
            <td>Phone number:</td>
            <td><input type="text" value="0123456789"></td>
        </tr>
        <tr class="profile_output ">
            <td>Academic level:</td>
            <td><input type="text" value="Đại học"></td>
        </tr>
        <tr class="profile_output ">
            <td>Personal CV:</td>
            <td><input type="text" value="https://"></td>
        </tr>
        <tr class="profile_output ">
            <td>Personal Website:</td>
            <td><input type="text" value="https://"></td>
        </tr>
    </table>
    <div class="header-btn change_profile_custom profile_button_center ">
        <a href="" class="btn custom_btn" >Save</a>
    </div>
</section>