<section class="col-xl-12 col-lg-12 col-md-12">
    <div class="container col-xl-12 col-lg-12 col-md-12 custom_edit_job">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <infor-employer ng-if="employer.inforEmployer"></infor-employer>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <!-- single-job-content -->
                <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                  <!-- single-job-content -->
                  <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                  <!-- single-job-content -->
                  <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                  <!-- single-job-content -->
                  <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                  <!-- single-job-content -->
                  <div class="single-job-items single-apply-item mb-20">
                    <div class="job-items">
                        <div class="job-tittle">
                            <h4>Nguyễn Chí Nhiên</h4>
                            <ul>
                                <li>Email: nguyentrinhien15@gmail.com</li>
                                <li>Phone: 034902343</li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-right apply-link">
                        <a href="" ng-click="employer.showInforSeekerApply()">View</a>
                        <div class="row justify-content-center">
                            <span class="icon_check" ng-click="employer.ShowEditJob()"><i class="fas fa-check-circle"></i></span>
                            <span class="icon_delete" ng-click="employer.ShowEditJob()"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="pagination-area pb-10 text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="single-wrap d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><span
                                                        class="ti-angle-right"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
<infor-seeker-apply ng-if="employer.inforSeekerApply"></infor-seeker-apply>