<section>
	<div class="row apply-bg justify-content-center mx-auto" data-background="assets/img/gallery/how-applybg.png" databg>
		<div class="col-xl-6 col-lg-6 col-md-6 single-process mb-30 mt-30">
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Job Tittle: </div>
				<input type="text" value="Nguyễn Chí Nhiên" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Location: </div>
				<input type="text" value="Nguyễn Chí Nhiên" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Education: </div>
				<input type="text" value="Nguyễn Chí Nhiên" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Job position: </div>
				<input type="text" value="" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Vacancy :</div>
				<input type="number" value="1" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input justify-content-center">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Description: </div>
				<textarea class="col-xl-4 col-lg-4 col-md-4 post-input" ckeditor>sdfsdf</textarea>
			</div>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-6 single-process mb-30 mt-30">
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4  edit_header text-header">Minimum salary: </div>
				<input type="number" value="" class="col-xl-2 col-lg-2 col-md-2 post-input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Maximum salary: </div>
				<input type="number" value="Nguyễn Chí Nhiên" class="col-xl-2 col-lg-2 col-md-2 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Type of job: </div>
				<input type="text" value="Nguyễn Chí Nhiên" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Industry: </div>
				<input type="text" value="Nguyễn Chí Nhiên" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Deadline: </div>
				<input type="date" value="" class="col-xl-8 col-lg-8 col-md-8 post-input">
			</div>
			<div class="row  edit_job_input">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Image: </div>
				<input type="file" class="col-xl-8 col-lg-8 col-md-8" style="color: #fff;">
			</div>
			<div class="row edit_job_input justify-content-center">
				<div class="col-xl-4 col-lg-4 col-md-4 edit_header text-header">Requirement: </div>
				<textarea class="col-xl-8 col-lg-8 col-md-8 post-input" ckeditor>sdfsdf</textarea>
			</div>
		</div>
		<div class="row justify-content-center mb-50">
			<div class="header-btn edit_job_button">
				<a href="" class="btn custom_btn">Post Job</a>
			</div>
		</div>
	</div>
</section>