<section>
	<main>
		<section class="featured-job-area feature-padding">
				<div class="row">
					<div>
					    <h2 style="margin-left: 400px;">Edit the post</h2>
						<table class="edit_post_employers">
							<tr class="profile_output profile_edit">
								<td>Title:</td>
								<td><input type="text" value="Công nghệ thông tin"></td>
							</tr>
							<tr class="profile_output ">
								<td>Job description:</td>
								<td><input type="text"
										value="mô tả...."></td>
							</tr>
							<tr class="profile_output ">
								<td>Location:</td>
								<td><input type="text" value="nhân viên"></td>
							</tr>
							<tr class="profile_output">
								<td>Requirement:</td>
								<td><input type="text" value="năng động"></td>
							</tr>
							<tr class="profile_output ">
								<td>Maximum salary:</td>
								<td><input type="text" value="$400"></td>
							</tr>
							<tr class="profile_output ">
								<td>Minimum salary:</td>
								<td><input type="text" value="$100"></td>
							</tr>
						</table>
						<div class="radio_button">
							<input name="" type="radio" value="Fulltime"/>Fulltime
							<input name="" type="radio" value="Parttime"/>Parttime
						</div>	
						<div class="text-center" id="button_save">
							<a href="" class="btn custom_btn" >Save</a>
						</div>
					</div>
					<div class="edit_post_img">
						<img src="assets/img/service/support-img.jpg" alt="" />
					</div>
				</div>
		</section>
	</main>
</section>
