<section>
	<main> 
        <!-- Featured_job_start -->
        <section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row" style="margin-top: -150px;">
                    <div class="col-lg-12">
                        <div class="text-center" >
                            <h2 >Number of people who applied for the job</h2>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="job-tittle">
                                    <a href="#!profile_detail"><h4>Nguyễn Chí Nhiên</h4></a>
                                    <ul>
                                        <li>Email: nguyentrinhien15@gmail.com</li>
                                        <li>Phone: 034902343</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="job-tittle">
                                    <a href="#!profile_detail"><h4>Nguyễn Chí Nhiên</h4></a>
                                    <ul>
                                        <li>Email: nguyentrinhien15@gmail.com</li>
                                        <li>Phone: 034902343</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                         <!-- single-job-content -->
                         <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="job-tittle">
                                    <a href="#!profile_detail"><h4>Nguyễn Chí Nhiên</h4></a>
                                    <ul>
                                        <li>Email: nguyentrinhien15@gmail.com</li>
                                        <li>Phone: 034902343</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                         <!-- single-job-content -->
                         <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="job-tittle">
                                    <a href="#!profile_detail"><h4>Nguyễn Chí Nhiên</h4></a>
                                    <ul>
                                        <li>Email: nguyentrinhien15@gmail.com</li>
                                        <li>Phone: 034902343</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->
    </main>
</section>
