<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 custom_profile">
                <div class="custom_profile_header">
                    <h1 style="color: #28395A;">Job seeker profile</h1>
                    <lable style="color: #28395A;">Do not share user information
                        with others</lable>
                </div>
                <hr>
                <div class="row">
                    <div class="login-wrap p-0" style="margin-left: 350px;">
                        <table class="information_profile">
                            <tr class="profile_output">
                                <td>First name:</td>
                                <td>Nguyễn Chí Nhiên</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Last name:</td>
                                <td>Nguyễn Chí Nhiên</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Address:</td>
                                <td>Đà Lạt</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Birthday:</td>
                                <td>02022003</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Phone number:</td>
                                <td>0123</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Image:</td>
                                <td>....</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Academic level:</td>
                                <td> Đại học </td>
                            </tr>
                            <tr class="profile_output">
                                <td>Skill:</td>
                                <td> ... </td>
                            </tr>
                            <tr class="profile_output">
                                <td>Personal CV:</td>
                                <td>...</td>
                            </tr>
                            <tr class="profile_output">
                                <td>Personal Website:</td>
                                <td>...</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>