<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="ftco-section" style="background-color: #eaedff;">
        <div class="container" >
            <div class="row justify-content-center" style="padding-left: 200px;" >
                <div class="col-md-6 col-lg-6">
                    <div class="login-wrap p-0">
                        <div style="margin-left: -100px;padding-top: 100px;">
                            <h1 style="color: #28395A;">Hồ sơ của tôi</h1>
                            <lable style="color: #212529;">Quản lý thông tin hồ sơ để bảo mật tài khoản</lable>
                        </div>
                        <hr>
                        <div >
                            <form action="#" class="signin-form">
                                <table >
                                    <tr>
                                        <td class="text-right">
                                            <label>Tên đăng nhập:</label>
                                        </td>
                                        <td>
                                            <div style="padding-bottom: 7px;padding-left:30px;">
                                                <lable>Nguyên Chi nhien</lable>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <div style="padding-top:30px;">
                                                <label>Tên:</label>
                                            </div>                                            
                                        </td>
                                        <td>
                                            <div style="padding-bottom: 7px;padding-left:30px;padding-top:30px;">
                                                <input type="text" required>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <div style="padding-top:30px;">
                                                <label>Email:</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="padding-bottom: 7px;padding-left:30px;padding-top:30px;">
                                                <lable>Nguyên Chi nhien</lable>
                                            </div>
                                        </td>
                                        <td style="padding-top:27px;">
                                            <a style="color:rgb(50, 53, 143);" href="" ><i>Thay đổi</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <div style="padding-top:30px;">
                                                <label>Số điện thoại:</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="padding-bottom: 7px;padding-left:30px;padding-top:30px;">
                                                <lable>Nguyên Chi nhien</lable>
                                            </div>
                                        </td>
                                        <td style="padding-top:27px;">
                                            <a style="color:rgb(50, 53, 143);" href="" ><i>Thay đổi</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <div style="padding-top:30px;">
                                                <label>Giới tính:</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="padding-left:30px;padding-left:30px;padding-top:30px;" >
                                                <select class="form-group" style="width:200px;height:30px;">
                                                    <option value="">Nam</option>
                                                    <option value="">Nữ</option>
                                                    <option value="">Khác</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <div style="padding-top:30px;padding-bottom:70px;">
                                                <label>Ngày sinh:</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div  style="padding-left:30px;padding-top:30px;padding-bottom:70px;">
                                                <input type="date" class="form-control" placeholder="Birthday" required>
                                            </div>                                
                                        </td>
                                    </tr>
                                </table>
                                <div class="header-btn d-none f-left d-lg-block" style="margin-left: 200px; margin-bottom: 100px;">
									<a href="#" class="btn head-btn1" style="background-color: #ffff;">Lưu</a>
								</div>
                            </form>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div style="padding-top:150px;padding-left:200px;">
                            <div class="text-center" style="margin-bottom:30px;">
                                <img src="assets/img/logo/testimonial.png" alt="">
                            </div>
                            <div class="text-center">
                                <button type="button" style="border: 2px dashed #b1154a;"><b>Chọn ảnh</b></button>
                            </div>
                            <br>
                            <div>
                                <a href="#!profilepassword" style="color:black;">Thay đổi mật khẩu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>