<section>
	<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
		<section class="ftco-section" style="background-color: #eaedff;">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section"></h2>
					</div>
				</div>
				<div class="row justify-content-left">
					<div style=" width:60%; height: 731px;">
						<div class="login-wrap p-0">
							<h3 class="mb-4 text-left" style="color: #28395A;">Sign up for an account here</h3>
							<form action="#" class="signin-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name"
										required style="height: 50px; width:570px">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Address" required style="height: 50px; width:570px">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone Number" required style="height: 50px; width:570px">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Image" required style="height: 50px; width:570px">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="website" required style="height: 50px; width:570px">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Employment Information" required style="height: 50px; width:570px">
								</div>
								<br>
								<br>
								<div class="header-btn d-none f-left d-lg-block" style="margin-left: 200px;">
									<a href="#" class="btn head-btn1" style="background-color: #ffff;">Sign Up</a>
								</div>
							</form>
						</div>
					</div>
					<div style=" width: 40%; ">
						<img src="assets/img/service/support-img.jpg" alt="" />
					</div>
				</div>
			</div>
		</section>
	</body>
</section>
