<section class=" col-xl-12 col-lg-12 col-md-12 popup">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 custom_profile">
            <div class="row f-right mb-10 mr-10">
                <span class="icon_delete" ng-click="employer.unshowInforSeekerApply()"><i class="fas fa-times"></i></span>
            </div>
            <div class="col-lg-4 col-md-4 mx-auto pt-20">
                <div class="text-center">
                    <img src="assets/img/logo/testimonial.png" alt="">
                </div>
                <div class="custom_profile_email text-center"> NCN@gmail.com </div>
            </div>
            <div class="pb-20 pt-20">
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Full name: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">Nguyễn Chí Nhiên</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Address: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">47c/4 Thi Sách, Phường 6, Đà Lạt, Lâm Đồng, Việt Nam</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Birthday: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">09/04/4003</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Phone number: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">0143456789</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Academic level: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">Đại học</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Personal CV: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">https://</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Personal Website:</div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">https://</div>
                </div>
                <div class="row justify-content-center edit_job_input">
                    <div class="col-xl-4 col-lg-4 col-md-4 ">Desire: </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 ">Desire</div>
                </div>
            </div>
        </div>
    
    </div>
</section>