<section>
    <!-- Featured_job_start -->
    <div class="featured-job-area ">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <h2>Waiting Posts</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#!job_details"><img src="assets/img/icon/job-list1.png" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#!job_detail">
                                    <h4>Digital Marketer</h4>
                                </a>
                                <ul>
                                    <li>Creative Agency</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                    <li>$3500 - $4000</li>
                                    <li><span class="badge bg-info">Waiting</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="items-link f-right" id="change_button_post">
                            <a href="#!job_detail">Fulltime</a>
                            <span>7 hours ago </span>
                            <span class="badge edit-info"><i class="fas fa-edit"></i></span>
                        </div>
                        <span class="exit_job"><i class="fas fa-times"></i></span>
                    </div>
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="job_details.html"><img src="assets/img/icon/job-list2.png" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="job_details.html">
                                    <h4>Digital Marketer</h4>
                                </a>
                                <ul>
                                    <li>Creative Agency</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                    <li>$3500 - $4000</li>
                                    <li><span class="badge bg-info">Waiting</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="items-link f-right" id="change_button_post">
                            <a href="#!job_detail">Fulltime</a>
                            <span>7 hours ago</span>
                            <span class="badge edit-info"><i class="fas fa-edit"></i></span>
                        </div>
                        <span class="exit_job"><i class="fas fa-times"></i></span>
                    </div>
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="job_details.html"><img src="assets/img/icon/job-list3.png" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="job_details.html">
                                    <h4>Digital Marketer</h4>
                                </a>
                                <ul>
                                    <li>Creative Agency</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                    <li>$3500 - $4000</li>
                                    <li><span class="badge bg-info">Waiting</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="items-link f-right" id="change_button_post">
                            <a href="#!job_detail">Fulltime</a>
                            <span>7 hours ago</span>
                            <span class="badge edit-info"><i class="fas fa-edit"></i></span>
                        </div>
                        <span class="exit_job"><i class="fas fa-times"></i></span>
                    </div>
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="job_details.html"><img src="assets/img/icon/job-list4.png" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="job_details.html">
                                    <h4>Digital Marketer</h4>
                                </a>
                                <ul>
                                    <li>Creative Agency</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                    <li>$3500 - $4000</li>
                                    <li><span class="badge bg-info">Waiting</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="items-link f-right" id="change_button_post">
                            <a href="#!job_detail">Fulltime</a>
                            <span>7 hours ago</span>
                            <span class="badge edit-info"><i class="fas fa-edit"></i></span>
                        </div>
                        <span class="exit_job"><i class="fas fa-times"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured_job_end -->
</section>