<section class="ftco-section col-xl-12 col-lg-12 col-md-12">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-6 custom_profile">
			<div class="login-wrap p-0">
				<h3 class="mb-4 mt-10 text-center">Have an account?</h3>
				<div class="row justify-content-center">
					<form action="#" class="signin-form col-md-8 col-lg-8">
						<div class="input-group ">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-solid fa-envelope"></i></span>
							</div>
							<input type="email" name="email" class="form-control" placeholder="Email" aria-label="email"
								value="">
						</div>
						<br>
						<div class="input-group ">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-solid fa-lock"></i></span>
							</div>
							<input type="password" id="pass" class="form-control" placeholder="password"
								aria-label="password" value="">
							<div class="input-group-prepend">
								<span class="input-group-text" onclick="myfunction()"><i
										class="fa fa-solid fa-eye"></i></span>
							</div>
						</div>
						<div class="row justify-content-center mx-auto mt-20 mb-20">
							<label class=" col-md-4 col-lg-4 text-center radio">
								<input type="radio" ng-model="userType" value="seeker">
								<span class="radio-label">Seeker</span>
							</label>
							<label class=" col-md-4 col-lg-4 text-center radio">
								<input type="radio" ng-model="userType" value="employer">
								<span class="radio-label">Employer</span>
							</label>
						</div>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="header-btn">
						<a href="#" class="btn head-btn1">Login</a>
					</div>
				</div>
				<div class="row f-right mt-10 mr-30">
					<a href="" class="a_forgot_create">Forgot password</a>
					<a href="#!signup" class="a_forgot_create ml-20">Create new account</a>
				</div>
			</div>
		</div>
	</div>
</section>