<section class="ftco-section col-xl-12 col-lg-12 col-md-12">
	<div class="container">
		<div class="row justify-content-center my-auto">
			<div class="col-xl-6 col-lg-6 col-md-6 pt-30 pb-30">
				<signup ng-if="signupService.signup"></signup>
				<employer-signup ng-if="signupService.employerSignup"></employer-signup>
				<seeker-signup ng-if="signupService.seekerSignup"></seeker-signup>			
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 pt-30 pb-30">
				<img src="assets/img/service/support-img.jpg" alt="" />
			</div>
		</div>
	</div>
</section>