<section
class="col-xl-12 col-lg-12 col-md-12 popup"
ng-app="MyApp"
ng-controller="TypeManagementController"
>
<div class="row justify-content-center">
  <div class="col-xl-7 col-lg-7 col-md-7 mb-50 mt-50 pt-50 pb-50 custom_apply">
    <div class="row justify-content-center edit_job_input">
      <div class="col-xl-2 col-lg-2 col-md-2 edit_header f-left">Type name:</div>
      <input
        type="email"
        class="col-xl-9 col-lg-9 col-md-9 edit_input"
        ng-model="typename"
      />
    </div>    
    <div class="row justify-content-center">
      <div class="header-btn">
        <a
          href=""
          class="btn head-btn1"
          ng-click=""
          >Create</a
        >
      </div>
    </div>
  </div>
</div>
</section>
