<section>
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="col-xl-12 col-lg-12 col-md-12 company-img">
            <<img src="assets/img/hero/h1hero.jpg" alt="">
        </div>
        <h1 class="col-xl-12 col-lg-12 name_employer">Công ty VNG</h1>
        <table class="col-xl-12 col-lg-12 col-md-12 information_profile">
            <tr class="profile_output">
                <td colspan="2"> <pre>
                    VNG Corporation, based in Vietnam, is a prominent technology company 
                    known for its diverse range of digital products and services. Established in 2004, 
                    VNG has played a significant role in shaping the country's tech landscape.

                    With a strong focus on innovation, VNG has developed popular offerings such as Zalo 
                    (a messaging and social media platform), Vinagame (online gaming), and Zing MP3 (music streaming).
                     The company is dedicated to providing users with high-quality digital experiences and continues 
                     to expand its presence in Southeast Asia.
                    
                    VNG's commitment to technology, creativity, and user satisfaction has made it a key player 
                    in the Vietnamese and regional tech industry.
                </pre></td>
               
            </tr>
            <tr class="profile_output">
                <td>Address:</td>
                <td>27c/2 Thi Sách, Phường 6, Đà Lạt, Lâm Đồng, Việt Nam</td>
            </tr>
            <tr class="profile_output">
                <td>Phone number:</td>
                <td>0123456789</td>
            </tr>
            <tr class="profile_output">
                <td>Website:</td>
                <td>https://</td>
            </tr>
        </table>
    </div>
</section>